<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop UP</title>
    <link rel="stylesheet" href="/css/failed.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dela+Gothic+One&family=Lobster&family=Merriweather:wght@300;400;900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>


<!-- Error Alert -->
<div class="popup" id="error">
    <div class="popup-content">
        <div class="imgbox">
            <img class="img" alt="" src="https://www.seekpng.com/png/full/242-2425374_new-svg-image-cancel-png.png">
        </div>
        <div class="title">
            <h3>Coba Lagi Yuk!</h3>
        </div>
        <p class="para">Setiap hidup pasti ada masalah, tapi jangan patah semangat.</p>
        <form action="">
            <a href="/dashboard" class="button" id="e_button">Try Again</a>
        </form>
    </div>
</div>
<!-- End of Error Alert-->
</body>
</html>