<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dela+Gothic+One&family=Lobster&family=Merriweather:wght@300;400;900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/success.css">
    <title>Easy Pop Up</title>
</head>
<body>
    <div class="container">
        <div class="popup" id="popup">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/768px-Sign-check-icon.png" alt="">
            <h2>Thank You!</h2>
            <p> Your details has been successfully submitted.</p>
            <button type="button" onclick="document.location='/dashboard'">OK</button>
        </div>
    </div>
</body>
</html>