<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/update.css">
    <title>Update User</title>
</head>
<body>
    <div class="signup-box">
        <h1>Update Data User</h1>
        <h4>Please Remember Your ID!</h4>
        <form method="POST" action="/api/updateuser">
            <label for="id">Enter User ID</label>
            <input type="text" placeholder="Enter Your User ID" name="id">
            <label for="username">Enter New Username</label>
            <input type="text" placeholder="Enter Your Username" name="username">
            <label for="password">Enter New Password</label>
            <input type="password" placeholder="Enter Your Password" name="password">
            <input  type="submit" value="SUBMIT">
        </form>
        <p>By Clicking the Delete Button, You will Update User<br> 
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
        </p>
    </div>
    <p class="para-2">Already have an Account? <a href="/login">Login Here</a></p>

</body>
</html>